body {
  margin: 0;
  font-family: mononoki;
  color: black;
}

#toy-header {
  display: flex;
  justify-content: center;
  /* background: #515DA2; */
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}

#toy-header img {
  height: 6rem;
  width: auto;
}

#toy-collection {
  margin: 2rem;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 15rem;
  height: 25rem;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #e04b52
}

.toy-avatar {
  justify-self: center;
  height: 12rem;
  width: auto;
}

button {
  position: relative;
  background-color: grey;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}

.pop-up-container {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  background: grey;
  opacity: .8;
}

.add-toy-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  /* font-family: monospace; */
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 15px;
  /* font-family: monospace; */
  margin: 3px;
}

.category-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* #category-collection {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
} */



.item-image {
  /* max-height: 300px; */
  /* width: stretch;
  height: auto; */
  border: 1px solid black;
  height: 70%;
  width: 70%;
  object-fit: contain
}

.category-item {
  border-radius: 5px;
  height: 200px;
  width: 200px;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-item-container {
  color: white;
  background-color: purple;
}

#outfit-collection {
  border: 1px soid black;
  width: 350px;
  height: 70px;
  padding: 10px;
  border: 1px solid #aaaaaa;
  margin: 0 auto;
}

#new-outfit {
  height: 20px;
  width: 20px;
  background: #aaaaaa;
  color: black;
  text-align: center;
}

.outfit-container {
  height: 50px;
  width: 50px;
  border: 1px solid black;
}

#outfit-list {
  display: flex;
  flex-direction: row;
}
